doctype html
html
  head
    meta( charset='utf-8' )
    title smartli.st
    link( rel='stylesheet', href='/css/style.css' )

    script( src='/js/start.js', type='text/javascript' )

    meta( name='viewport',
          content='width=device-width, initial-scale=1')
    meta( name='apple-mobile-web-app-capable', content='yes')
    meta( name='apple-mobile-web-app-status-bar-style',
          content='black-translucent')
    link( rel='shortcut icon', href='/img/favicon.ico', type='image/x-icon')
    link( rel='icon', href='/img/icon32.png', sizes='32x32')
    link( rel='apple-touch-icon', href='/img/icon32.png', sizes='32x32')


  body
    block content

    footer
      a( href='#' ) imprint
      a( href='#' ) contact

