
doctype html
html
  head
    meta( charset='utf-8' )
    title smartli.st
    link( rel='stylesheet', href='/css/style.css' )

    script( src='/socket.io/socket.io.js' )
    script( src='/js/socket.js' )

  body
    input#input

    h2 direct
    div#output

    h2 socket
    div#socket

