
<!DOCTYPE html>
<html>
  <body>

    <div class='hashtag'>
      <h2>How to assign tasks to a date using hashtags</h2>
      <div class='type'>
        relative dates
      </div>
      <div class='example'>
        today, tomorrow, nextweek, nextmonth, nextyear (isn't necessary, since a task is assigned to today without a given date)
      </div>
      <div class='explanation'>
      </div>


      <div class='type'>
        weekdays
      </div>
      <div class='example'>
        monday, tuesday, ...
      </div>
      <div class='explanation'>
      </div>


      <div class='type'>
        dates
      </div>
      <div class='example'>
        12.08.2012 / 12.08. / 12.
      </div>
      <div class='explanation'>
      </div>
    </div>

  </body>
</html>
